<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcp.mapper.SysOrganizationMapper">
	<sql id="column">
		t.org_id orgId, 
		t.org_pinyin orgPinyin, 
		t.quanlujin quanlujin, 
		t.org_name orgName, 
		t.org_level orgLevel, 
		t.parent_id parentId, 
		t.status status, 
		t.remark remark, 
		t.create_by createBy, 
		t.create_date createDate, 
		t.create_ip createIp, 
		t.update_by updateBy, 
		t.update_date updateDate, 
		t.update_ip updateIp, 
		t.field1 field1, 
		t.field2 field2, 
		t.field3 field3, 
		t.field4 field4 
	</sql>

	<!-- 根据map参数条件来查询 author:code_generator -->
	<select id="getList" parameterType="java.util.Map" resultType="com.tcp.bean.SysOrganization">
		SELECT
			<include refid="column"/>
		FROM sys_organization t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="orgId != null and orgId != '' ">
  				AND t.org_id = #{orgId} 
  			</if>
			<if test="orgPinyin != null and orgPinyin != '' ">
  				AND t.org_pinyin = #{orgPinyin} 
  			</if>
			<if test="quanlujin != null and quanlujin != '' ">
  				AND t.quanlujin = #{quanlujin} 
  			</if>
			<if test="orgName != null and orgName != '' ">
  				AND t.org_name = #{orgName} 
  			</if>
			<if test="orgLevel != null and orgLevel != '' ">
  				AND t.org_level = #{orgLevel} 
  			</if>
			<if test="parentId != null and parentId != '' ">
  				AND t.parent_id = #{parentId} 
  			</if>
			<if test="status != null and status != '' ">
  				AND t.status = #{status} 
  			</if>
			<if test="remark != null and remark != '' ">
  				AND t.remark = #{remark} 
  			</if>
			<if test="createBy != null and createBy != '' ">
  				AND t.create_by = #{createBy} 
  			</if>
			<if test="createDate != null and createDate != '' ">
  				AND t.create_date = #{createDate} 
  			</if>
			<if test="createIp != null and createIp != '' ">
  				AND t.create_ip = #{createIp} 
  			</if>
			<if test="updateBy != null and updateBy != '' ">
  				AND t.update_by = #{updateBy} 
  			</if>
			<if test="updateDate != null and updateDate != '' ">
  				AND t.update_date = #{updateDate} 
  			</if>
			<if test="updateIp != null and updateIp != '' ">
  				AND t.update_ip = #{updateIp} 
  			</if>
			<if test="field1 != null and field1 != '' ">
  				AND t.field1 = #{field1} 
  			</if>
			<if test="field2 != null and field2 != '' ">
  				AND t.field2 = #{field2} 
  			</if>
			<if test="field3 != null and field3 != '' ">
  				AND t.field3 = #{field3} 
  			</if>
			<if test="field4 != null and field4 != '' ">
  				AND t.field4 = #{field4} 
  			</if>
		</trim>
	</select>

<!--#############################################################################-->
<!--############################### 自定义方法实现区 ################################-->
<!--#############################################################################-->





</mapper>
