<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcp.mapper.TPileInfoMapper">
	<sql id="column">
		t.id id, 
		t.pile_num pileNum, 
		t.type type, 
		t.power power, 
		t.voltage voltage, 
		t.longitude longitude, 
		t.latitude latitude, 
		t.power_station_num powerStationNum, 
		t.area_num areaNum, 
		t.operation_type operationType, 
		t.gun_num_in gunNumIn, 
		t.muzzle_num muzzleNum, 
		t.create_time createTime, 
		t.modify_time modifyTime, 
		t.field1 field1, 
		t.field2 field2, 
		t.field3 field3, 
		t.field4 field4, 
		t.field5 field5 
	</sql>

	<!-- 根据map参数条件来查询 author:code_generator -->
	<select id="getList" parameterType="java.util.Map" resultType="com.tcp.bean.TPileInfo">
		SELECT
			<include refid="column"/>
		FROM t_pile_info t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null and id != '' ">
  				AND t.id = #{id} 
  			</if>
			<if test="pileNum != null and pileNum != '' ">
  				AND t.pile_num = #{pileNum} 
  			</if>
			<if test="type != null and type != '' ">
  				AND t.type = #{type} 
  			</if>
			<if test="power != null and power != '' ">
  				AND t.power = #{power} 
  			</if>
			<if test="voltage != null and voltage != '' ">
  				AND t.voltage = #{voltage} 
  			</if>
			<if test="longitude != null and longitude != '' ">
  				AND t.longitude = #{longitude} 
  			</if>
			<if test="latitude != null and latitude != '' ">
  				AND t.latitude = #{latitude} 
  			</if>
			<if test="powerStationNum != null and powerStationNum != '' ">
  				AND t.power_station_num = #{powerStationNum} 
  			</if>
			<if test="areaNum != null and areaNum != '' ">
  				AND t.area_num = #{areaNum} 
  			</if>
			<if test="operationType != null and operationType != '' ">
  				AND t.operation_type = #{operationType} 
  			</if>
			<if test="gunNumIn != null and gunNumIn != '' ">
  				AND t.gun_num_in = #{gunNumIn} 
  			</if>
			<if test="muzzleNum != null and muzzleNum != '' ">
  				AND t.muzzle_num = #{muzzleNum} 
  			</if>
			<if test="createTime != null and createTime != '' ">
  				AND t.create_time = #{createTime} 
  			</if>
			<if test="modifyTime != null and modifyTime != '' ">
  				AND t.modify_time = #{modifyTime} 
  			</if>
			<if test="field1 != null and field1 != '' ">
  				AND t.field1 = #{field1} 
  			</if>
			<if test="field2 != null and field2 != '' ">
  				AND t.field2 = #{field2} 
  			</if>
			<if test="field3 != null and field3 != '' ">
  				AND t.field3 = #{field3} 
  			</if>
			<if test="field4 != null and field4 != '' ">
  				AND t.field4 = #{field4} 
  			</if>
			<if test="field5 != null and field5 != '' ">
  				AND t.field5 = #{field5} 
  			</if>
		</trim>
	</select>

<!--#############################################################################-->
<!--############################### 自定义方法实现区 ################################-->
<!--#############################################################################-->





</mapper>
